<?xml version="1.0" ?>
<robot name="onrobot_rg2_model" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find onrobot)/onrobot_rg_description/urdf/onrobot_rg2_model.urdf.xacro" />
  <xacro:onrobot_rg2 prefix=""  parent ="tool0">
        <origin xyz = "0 0 0" rpy = "0 -1.57 0"/>
  <xacro:onrobot_rg2>
</robot>
